body
{
    background: linear-gradient(180deg, rgb(255, 0, 191) 0%, rgb(238, 134, 15) 35%, rgb(247, 10, 10) 100%);
}
.glowny
{
    width: 50%;
    background: none;
    background-color: rgb(13, 183, 212);
    box-shadow: 2px 2px 2px black;
    outline: 3px yellow solid;
}
.glowny1
{
    width: 80%;
    background: none;
    background-color: rgb(13, 183, 212);
    box-shadow: 2px 2px 2px black;
    outline: 3px yellow solid;
}
input
{
    background-color: yellow;
    border-radius: 5%;
}
.box
{
    width: 200px;
    height: 50px;
    margin: 10px;
}
a 
{
    text-decoration: none;
    outline: 2px black solid;
    background-color: yellow;
}
.blok
{
    outline: 2px green solid;
    height: 200px;
    width: 80%;
}
.lewy
{
    width: 50%;
    float: left;
    text-align: left;
    height: 85%;
}
.lewydol
{
    height: 10%;
    width: 50%;
    float: left;
    text-align: left;
}
.prawy
{
    width: 50%;
    float: right;
    text-align: left;
    height: 100%;
}
.dol
{
    background: none;
    background-color: rgb(13, 183, 212);
    height: 50px;
}
.panel
{
    height: 100px;
    width: 100%;
}
.panel a
{
    text-decoration: none;
}
.details
{
    padding: 15px;
    text-align: left;
}